<a href="https://colab.research.google.com/github/Ignacio246/colab/blob/main/Actividad_2_4_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Importar las librerias a ocupar

In [1]:
import pandas as pd
import numpy as np
import csv

#### Extraemos el archivo .csv y lo convertimos en un DataFrame

In [2]:
datos = pd.read_csv('calificaciones_v2.csv', header=None)
datos

             0         1
0    matricula  11111111
1       nombre  Alumno 1
2        grupo      TI11
3    Materia 1         1
4    Materia 2         8
..         ...       ...
431  Materia 3        10
432  Materia 4         6
433  Materia 5         8
434  Materia 6        10
435     estado   regular

[436 rows x 2 columns]

#### Eliminamos los registros duplicados en la posicion que esten

In [3]:
datos = datos.drop([8,108,109,434])
datos

             0         1
0    matricula  11111111
1       nombre  Alumno 1
2        grupo      TI11
3    Materia 1         1
4    Materia 2         8
..         ...       ...
430  Materia 2         4
431  Materia 3        10
432  Materia 4         6
433  Materia 5         8
435     estado   regular

[432 rows x 2 columns]

#### Convertimos el DataFrame en un arreglo

In [4]:
array=datos.to_numpy()
array

array([['matricula', '11111111'],
       ['nombre', 'Alumno 1'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '8'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111112'],
       ['nombre', 'Alumno 2'],
       ['grupo', 'TI11'],
       ['Materia 1', '10'],
       ['Materia 2', '7'],
       ['Materia 3', '1'],
       ['Materia 4', '8'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111113'],
       ['nombre', 'Alumno 3'],
       ['grupo', 'TI11'],
       ['Materia 1', nan],
       ['Materia 2', '1'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111114'],
       ['nombre', 'Alumno 4'],
       ['grupo', 'TI11'],
       ['Materia 1', nan],
       ['Materia 2', '4'],
       ['Materia 3', '3'],
       ['Materia 4', '2'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111115'],
       ['nombre', 'Alumno 5'],
       ['grupo', 'TI11'],
       ['Materia 1', '9'],
       ['Materia 2', '10'],
       ['Materia 3', '3'],
       ['Materia 4', '9'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111116'],
       ['nombre', 'Alumno 6'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '3'],
       ['Materia 3', '8'],
       ['Materia 4', '1'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111117'],
       ['nombre', 'Alumno 7'],
       ['grupo', 'TI11'],
       ['Materia 1', '4'],
       ['Materia 2', '7'],
       ['Materia 3', '1'],
       ['Materia 4', '6'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111118'],
       ['nombre', 'Alumno 8'],
       ['grupo', 'TI11'],
       ['Materia 1', '10'],
       ['Materia 2', '1'],
       ['Materia 3', '7'],
       ['Materia 4', '10'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111119'],
       ['nombre', 'Alumno 9'],
       ['grupo', 'TI11'],
       ['Materia 1', '5'],
       ['Materia 2', '5'],
       ['Materia 3', '4'],
       ['Materia 4', '0'],
       ['Materia 5', '3'],
       ['estado', 'regular'],
       ['matricula', '11111120'],
       ['nombre', 'Alumno 10'],
       ['grupo', 'TI11'],
       ['Materia 1', '5'],
       ['Materia 2', '7'],
       ['Materia 3', '3'],
       ['Materia 4', '3'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111121'],
       ['nombre', 'Alumno 11'],
       ['grupo', 'TI11'],
       ['Materia 1', '6'],
       ['Materia 2', '1'],
       ['Materia 3', '3'],
       ['Materia 4', '7'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111122'],
       ['nombre', 'Alumno 12'],
       ['grupo', 'TI11'],
       ['Materia 1', '7'],
       ['Materia 2', '2'],
       ['Materia 3', '5'],
       ['Materia 4', '4'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111123'],
       ['nombre', 'Alumno 13'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '2'],
       ['Materia 3', '3'],
       ['Materia 4', '0'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111124'],
       ['nombre', 'Alumno 14'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '2'],
       ['Materia 3', '10'],
       ['Materia 4', '0'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111125'],
       ['nombre', 'Alumno 15'],
       ['grupo', 'TI12'],
       ['Materia 1', '9'],
       ['Materia 2', '9'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111126'],
       ['nombre', 'Alumno 16'],
       ['grupo', 'TI12'],
       ['Materia 1', '1'],
       ['Materia 2', '2'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111127'],
       ['nombre', 'Alumno 17'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '2'],
       ['Materia 3', '1'],
       ['Materia 4', '0'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111128'],
       ['nombre', 'Alumno 18'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '1'],
       ['Materia 3', '4'],
       ['Materia 4', '7'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111129'],
       ['nombre', 'Alumno 19'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '8'],
       ['Materia 3', '7'],
       ['Materia 4', '8'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111130'],
       ['nombre', 'Alumno 20'],
       ['grupo', 'TI12'],
       ['Materia 1', '4'],
       ['Materia 2', '0'],
       ['Materia 3', '5'],
       ['Materia 4', '0'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111131'],
       ['nombre', 'Alumno 21'],
       ['grupo', 'TI12'],
       ['Materia 1', '6'],
       ['Materia 2', '4'],
       ['Materia 3', '2'],
       ['Materia 4', '10'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111132'],
       ['nombre', 'Alumno 22'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '6'],
       ['Materia 3', '9'],
       ['Materia 4', '0'],
       ['Materia 5', '3'],
       ['estado', 'regular'],
       ['matricula', '11111133'],
       ['nombre', 'Alumno 23'],
       ['grupo', 'TI12'],
       ['Materia 1', '1'],
       ['Materia 2', '9'],
       ['Materia 3', '7'],
       ['Materia 4', '7'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111134'],
       ['nombre', 'Alumno 24'],
       ['grupo', 'TI41'],
       ['Materia 1', '4'],
       ['Materia 2', '0'],
       ['Materia 3', '10'],
       ['Materia 4', '7'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111135'],
       ['nombre', 'Alumno 25'],
       ['grupo', 'TI41'],
       ['Materia 1', '3'],
       ['Materia 2', '3'],
       ['Materia 3', '0'],
       ['Materia 4', '8'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111136'],
       ['nombre', 'Alumno 26'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '5'],
       ['Materia 3', '7'],
       ['Materia 4', '2'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111137'],
       ['nombre', 'Alumno 27'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '0'],
       ['Materia 3', '6'],
       ['Materia 4', '0'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111138'],
       ['nombre', 'Alumno 28'],
       ['grupo', 'TI41'],
       ['Materia 1', '9'],
       ['Materia 2', '3'],
       ['Materia 3', '10'],
       ['Materia 4', '9'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111139'],
       ['nombre', 'Alumno 29'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '5'],
       ['Materia 3', '1'],
       ['Materia 4', '10'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111140'],
       ['nombre', 'Alumno 30'],
       ['grupo', 'TI41'],
       ['Materia 1', '3'],
       ['Materia 2', '3'],
       ['Materia 3', '5'],
       ['Materia 4', '9'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111141'],
       ['nombre', 'Alumno 31'],
       ['grupo', 'TI41'],
       ['Materia 1', '10'],
       ['Materia 2', '10'],
       ['Materia 3', '4'],
       ['Materia 4', '1'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111142'],
       ['nombre', 'Alumno 32'],
       ['grupo', 'TI41'],
       ['Materia 1', '6'],
       ['Materia 2', '0'],
       ['Materia 3', '5'],
       ['Materia 4', '3'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111143'],
       ['nombre', 'Alumno 33'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '4'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111144'],
       ['nombre', 'Alumno 34'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '1'],
       ['Materia 2', '1'],
       ['Materia 3', '2'],
       ['Materia 4', '3'],
       ['Materia 5', '8'],
       ['estado', 'regular'],
       ['matricula', '11111145'],
       ['nombre', 'Alumno 35'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '7'],
       ['Materia 3', '10'],
       ['Materia 4', '7'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111146'],
       ['nombre', 'Alumno 36'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '7'],
       ['Materia 2', '1'],
       ['Materia 3', '4'],
       ['Materia 4', '0'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111147'],
       ['nombre', 'Alumno 37'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '6'],
       ['Materia 2', '6'],
       ['Materia 3', '4'],
       ['Materia 4', '3'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111148'],
       ['nombre', 'Alumno 38'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '6'],
       ['Materia 3', '6'],
       ['Materia 4', '3'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111149'],
       ['nombre', 'Alumno 39'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '8'],
       ['Materia 2', '7'],
       ['Materia 3', '9'],
       ['Materia 4', '5'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111150'],
       ['nombre', 'Alumno 40'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '1'],
       ['Materia 2', '0'],
       ['Materia 3', '3'],
       ['Materia 4', '4'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111151'],
       ['nombre', 'Alumno 41'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '6'],
       ['Materia 2', '5'],
       ['Materia 3', '1'],
       ['Materia 4', '5'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111152'],
       ['nombre', 'Alumno 42'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '2'],
       ['Materia 2', '0'],
       ['Materia 3', '9'],
       ['Materia 4', '9'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111153'],
       ['nombre', 'Alumno 43'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '3'],
       ['Materia 2', '4'],
       ['Materia 3', '0'],
       ['Materia 4', '0'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111154'],
       ['nombre', 'Alumno 44'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '3'],
       ['Materia 2', '1'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111155'],
       ['nombre', 'Alumno 45'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '4'],
       ['Materia 2', '1'],
       ['Materia 3', '2'],
       ['Materia 4', '8'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111156'],
       ['nombre', 'Alumno 46'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '10'],
       ['Materia 2', '1'],
       ['Materia 3', '10'],
       ['Materia 4', '0'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111157'],
       ['nombre', 'Alumno 47'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '9'],
       ['Materia 2', '10'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111158'],
       ['nombre', 'Alumno 48'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '4'],
       ['Materia 2', '4'],
       ['Materia 3', '10'],
       ['Materia 4', '6'],
       ['Materia 5', '8'],
       ['estado', 'regular']], dtype=object)

#### Obtenemos las cabeceras del array (Primera columna)

In [5]:
cabecera = array.T[0]
cabecera[:10]

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula'],
      dtype=object)

In [6]:
cabecera.size

432

#### Observamos cuantas cabeceras tiene el array

In [7]:
np.unique(cabecera)

array(['Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'grupo', 'matricula', 'nombre'], dtype=object)

In [8]:
np.unique(cabecera).size

9

In [9]:
cabeceras = cabecera[:9]
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype=object)

In [10]:
no_cabeceras = cabeceras.size
no_cabeceras

9

In [11]:
no_registros = array.T[0].size
no_registros

432

In [13]:
#Permite calcular el numero de registros del archivo 
filas = no_registros / no_cabeceras
filas

48.0

#### Eliminamos las cabeceras del array

In [16]:
data_sin_cabeceras = np.delete(array,0,1)
data_sin_cabeceras [:10]

array([['11111111'],
       ['Alumno 1'],
       ['TI11'],
       ['1'],
       ['8'],
       ['1'],
       ['7'],
       ['2'],
       ['regular'],
       ['11111112']], dtype=object)

In [17]:
data_sin_cabeceras.shape

(432, 1)

#### Cambiamos la forma del array

In [18]:
data_sin_cabeceras = data_sin_cabeceras.reshape(int(filas),int(no_cabeceras))

In [19]:
data_sin_cabeceras.shape

(48, 9)

In [20]:
data_sin_cabeceras[:10]

array([['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2',
        'regular'],
       ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5',
        'regular'],
       ['11111113', 'Alumno 3', 'TI11', nan, '1', '1', '3', '0',
        'regular'],
       ['11111114', 'Alumno 4', 'TI11', nan, '4', '3', '2', '7',
        'regular'],
       ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2',
        'regular'],
       ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7',
        'regular'],
       ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5',
        'regular'],
       ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0',
        'regular'],
       ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3',
        'regular'],
       ['11111120', 'Alumno 10', 'TI11', '5', '7', '3', '3', '4',
        'regular']], dtype=object)

#### Separamos los datos del alumno

In [24]:
datos_alumnos = np.array(data_sin_cabeceras[:,:3])
datos_alumnos[:5]

array([['11111111', 'Alumno 1', 'TI11'],
       ['11111112', 'Alumno 2', 'TI11'],
       ['11111113', 'Alumno 3', 'TI11'],
       ['11111114', 'Alumno 4', 'TI11'],
       ['11111115', 'Alumno 5', 'TI11']], dtype=object)

#### Separamos las calificaciones

In [21]:
calificaciones_alumnos = np.array(data_sin_cabeceras[:,3:8],dtype=float)

In [22]:
calificaciones_alumnos[:5]

array([[ 1.,  8.,  1.,  7.,  2.],
       [10.,  7.,  1.,  8.,  5.],
       [nan,  1.,  1.,  3.,  0.],
       [nan,  4.,  3.,  2.,  7.],
       [ 9., 10.,  3.,  9.,  2.]])

In [23]:
calificaciones_alumnos.shape

(48, 5)

#### Calculamos el promedio

In [25]:
promedio = []
for index in range(int(filas)):
  promedio.append(["regular",calificaciones_alumnos[index].mean()])
promedio = np.array(promedio)
promedio[:5]

array([['regular', '3.8'],
       ['regular', '6.2'],
       ['regular', 'nan'],
       ['regular', 'nan'],
       ['regular', '6.6']], dtype='<U32')

In [26]:
promedio.shape

(48, 2)

#### Se unen los arreglos en uno solo

In [30]:
todos = np.concatenate((datos_alumnos,calificaciones_alumnos,promedio),axis=1)
todos[:5]

array([['11111111', 'Alumno 1', 'TI11', 1.0, 8.0, 1.0, 7.0, 2.0,
        'regular', '3.8'],
       ['11111112', 'Alumno 2', 'TI11', 10.0, 7.0, 1.0, 8.0, 5.0,
        'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', nan, 1.0, 1.0, 3.0, 0.0,
        'regular', 'nan'],
       ['11111114', 'Alumno 4', 'TI11', nan, 4.0, 3.0, 2.0, 7.0,
        'regular', 'nan'],
       ['11111115', 'Alumno 5', 'TI11', 9.0, 10.0, 3.0, 9.0, 2.0,
        'regular', '6.6']], dtype=object)

In [31]:
todos.shape

(48, 10)

#### Unimos las cabeceras

In [32]:
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype=object)

In [34]:
cabeceras = np.concatenate((cabeceras,["promedio"]),axis=0)

In [35]:
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
      dtype=object)

In [36]:
cabeceras.shape

(10,)

In [38]:
todos = np.concatenate(([cabeceras],todos),axis=0)
todos

array([['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
        'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
       ['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
        'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
       ['11111111', 'Alumno 1', 'TI11', 1.0, 8.0, 1.0, 7.0, 2.0,
        'regular', '3.8'],
       ['11111112', 'Alumno 2', 'TI11', 10.0, 7.0, 1.0, 8.0, 5.0,
        'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', nan, 1.0, 1.0, 3.0, 0.0,
        'regular', 'nan'],
       ['11111114', 'Alumno 4', 'TI11', nan, 4.0, 3.0, 2.0, 7.0,
        'regular', 'nan'],
       ['11111115', 'Alumno 5', 'TI11', 9.0, 10.0, 3.0, 9.0, 2.0,
        'regular', '6.6'],
       ['11111116', 'Alumno 6', 'TI11', 1.0, 3.0, 8.0, 1.0, 7.0,
        'regular', '4.0'],
       ['11111117', 'Alumno 7', 'TI11', 4.0, 7.0, 1.0, 6.0, 5.0,
        'regular', '4.6'],
       ['11111118', 'Alumno 8', 'TI11', 10.0, 1.0, 7.0, 10.0, 0.0,
        'regular', '5.6'],
       ['11111119', 'Alumno 9', 'TI11', 5.0, 5.0, 4.0, 0.0, 3.0,
        'regular', '3.4'],
       ['11111120', 'Alumno 10', 'TI11', 5.0, 7.0, 3.0, 3.0, 4.0,
        'regular', '4.4'],
       ['11111121', 'Alumno 11', 'TI11', 6.0, 1.0, 3.0, 7.0, 0.0,
        'regular', '3.4'],
       ['11111122', 'Alumno 12', 'TI11', 7.0, 2.0, 5.0, 4.0, 5.0,
        'regular', '4.6'],
       ['11111123', 'Alumno 13', 'TI12', 5.0, 2.0, 3.0, 0.0, 1.0,
        'regular', '2.2'],
       ['11111124', 'Alumno 14', 'TI12', 5.0, 2.0, 10.0, 0.0, 6.0,
        'regular', '4.6'],
       ['11111125', 'Alumno 15', 'TI12', 9.0, 9.0, 1.0, 3.0, 1.0,
        'regular', '4.6'],
       ['11111126', 'Alumno 16', 'TI12', 1.0, 2.0, 1.0, 7.0, 7.0,
        'regular', '3.6'],
       ['11111127', 'Alumno 17', 'TI12', 0.0, 2.0, 1.0, 0.0, 2.0,
        'regular', '1.0'],
       ['11111128', 'Alumno 18', 'TI12', 0.0, 1.0, 4.0, 7.0, 6.0,
        'regular', '3.6'],
       ['11111129', 'Alumno 19', 'TI12', 0.0, 8.0, 7.0, 8.0, 2.0,
        'regular', '5.0'],
       ['11111130', 'Alumno 20', 'TI12', 4.0, 0.0, 5.0, 0.0, 4.0,
        'regular', '2.6'],
       ['11111131', 'Alumno 21', 'TI12', 6.0, 4.0, 2.0, 10.0, 10.0,
        'regular', '6.4'],
       ['11111132', 'Alumno 22', 'TI12', 5.0, 6.0, 9.0, 0.0, 3.0,
        'regular', '4.6'],
       ['11111133', 'Alumno 23', 'TI12', 1.0, 9.0, 7.0, 7.0, 6.0,
        'regular', '6.0'],
       ['11111134', 'Alumno 24', 'TI41', 4.0, 0.0, 10.0, 7.0, 0.0,
        'regular', '4.2'],
       ['11111135', 'Alumno 25', 'TI41', 3.0, 3.0, 0.0, 8.0, 5.0,
        'regular', '3.8'],
       ['11111136', 'Alumno 26', 'TI41', 0.0, 5.0, 7.0, 2.0, 0.0,
        'regular', '2.8'],
       ['11111137', 'Alumno 27', 'TI41', 0.0, 0.0, 6.0, 0.0, 5.0,
        'regular', '2.2'],
       ['11111138', 'Alumno 28', 'TI41', 9.0, 3.0, 10.0, 9.0, 6.0,
        'regular', '7.4'],
       ['11111139', 'Alumno 29', 'TI41', 0.0, 5.0, 1.0, 10.0, 1.0,
        'regular', '3.4'],
       ['11111140', 'Alumno 30', 'TI41', 3.0, 3.0, 5.0, 9.0, 9.0,
        'regular', '5.8'],
       ['11111141', 'Alumno 31', 'TI41', 10.0, 10.0, 4.0, 1.0, 4.0,
        'regular', '5.8'],
       ['11111142', 'Alumno 32', 'TI41', 6.0, 0.0, 5.0, 3.0, 2.0,
        'regular', '3.2'],
       ['11111143', 'Alumno 33', 'IDGS91', 0.0, 4.0, 1.0, 7.0, 9.0,
        'regular', '4.2'],
       ['11111144', 'Alumno 34', 'IDGS91', 1.0, 1.0, 2.0, 3.0, 8.0,
        'regular', '3.0'],
       ['11111145', 'Alumno 35', 'IDGS91', 0.0, 7.0, 10.0, 7.0, 7.0,
        'regular', '6.2'],
       ['11111146', 'Alumno 36', 'IDGS91', 7.0, 1.0, 4.0, 0.0, 6.0,
        'regular', '3.6'],
       ['11111147', 'Alumno 37', 'IDGS91', 6.0, 6.0, 4.0, 3.0, 0.0,
        'regular', '3.8'],
       ['11111148', 'Alumno 38', 'IDGS91', 0.0, 6.0, 6.0, 3.0, 5.0,
        'regular', '4.0'],
       ['11111149', 'Alumno 39', 'IDGS91', 8.0, 7.0, 9.0, 5.0, 2.0,
        'regular', '6.2'],
       ['11111150', 'Alumno 40', 'IDGS91', 1.0, 0.0, 3.0, 4.0, 10.0,
        'regular', '3.6'],
       ['11111151', 'Alumno 41', 'IDGS91', 6.0, 5.0, 1.0, 5.0, 9.0,
        'regular', '5.2'],
       ['11111152', 'Alumno 42', 'IDGS91', 2.0, 0.0, 9.0, 9.0, 5.0,
        'regular', '5.0'],
       ['11111153', 'Alumno 43', 'IDGS91', 3.0, 4.0, 0.0, 0.0, 0.0,
        'regular', '1.4'],
       ['11111154', 'Alumno 44', 'IDGS91', 3.0, 1.0, 1.0, 7.0, 10.0,
        'regular', '4.4'],
       ['11111155', 'Alumno 45', 'IDGS91', 4.0, 1.0, 2.0, 8.0, 6.0,
        'regular', '4.2'],
       ['11111156', 'Alumno 46', 'IDGS71', 10.0, 1.0, 10.0, 0.0, 7.0,
        'regular', '5.6'],
       ['11111157', 'Alumno 47', 'IDGS71', 9.0, 10.0, 1.0, 3.0, 9.0,
        'regular', '6.4'],
       ['11111158', 'Alumno 48', 'IDGS71', 4.0, 4.0, 10.0, 6.0, 8.0,
        'regular', '6.4']], dtype=object)

In [42]:
todos=np.delete(todos, 1, axis=0)

In [43]:
todos

array([['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
        'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
       ['11111111', 'Alumno 1', 'TI11', 1.0, 8.0, 1.0, 7.0, 2.0,
        'regular', '3.8'],
       ['11111112', 'Alumno 2', 'TI11', 10.0, 7.0, 1.0, 8.0, 5.0,
        'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', nan, 1.0, 1.0, 3.0, 0.0,
        'regular', 'nan'],
       ['11111114', 'Alumno 4', 'TI11', nan, 4.0, 3.0, 2.0, 7.0,
        'regular', 'nan'],
       ['11111115', 'Alumno 5', 'TI11', 9.0, 10.0, 3.0, 9.0, 2.0,
        'regular', '6.6'],
       ['11111116', 'Alumno 6', 'TI11', 1.0, 3.0, 8.0, 1.0, 7.0,
        'regular', '4.0'],
       ['11111117', 'Alumno 7', 'TI11', 4.0, 7.0, 1.0, 6.0, 5.0,
        'regular', '4.6'],
       ['11111118', 'Alumno 8', 'TI11', 10.0, 1.0, 7.0, 10.0, 0.0,
        'regular', '5.6'],
       ['11111119', 'Alumno 9', 'TI11', 5.0, 5.0, 4.0, 0.0, 3.0,
        'regular', '3.4'],
       ['11111120', 'Alumno 10', 'TI11', 5.0, 7.0, 3.0, 3.0, 4.0,
        'regular', '4.4'],
       ['11111121', 'Alumno 11', 'TI11', 6.0, 1.0, 3.0, 7.0, 0.0,
        'regular', '3.4'],
       ['11111122', 'Alumno 12', 'TI11', 7.0, 2.0, 5.0, 4.0, 5.0,
        'regular', '4.6'],
       ['11111123', 'Alumno 13', 'TI12', 5.0, 2.0, 3.0, 0.0, 1.0,
        'regular', '2.2'],
       ['11111124', 'Alumno 14', 'TI12', 5.0, 2.0, 10.0, 0.0, 6.0,
        'regular', '4.6'],
       ['11111125', 'Alumno 15', 'TI12', 9.0, 9.0, 1.0, 3.0, 1.0,
        'regular', '4.6'],
       ['11111126', 'Alumno 16', 'TI12', 1.0, 2.0, 1.0, 7.0, 7.0,
        'regular', '3.6'],
       ['11111127', 'Alumno 17', 'TI12', 0.0, 2.0, 1.0, 0.0, 2.0,
        'regular', '1.0'],
       ['11111128', 'Alumno 18', 'TI12', 0.0, 1.0, 4.0, 7.0, 6.0,
        'regular', '3.6'],
       ['11111129', 'Alumno 19', 'TI12', 0.0, 8.0, 7.0, 8.0, 2.0,
        'regular', '5.0'],
       ['11111130', 'Alumno 20', 'TI12', 4.0, 0.0, 5.0, 0.0, 4.0,
        'regular', '2.6'],
       ['11111131', 'Alumno 21', 'TI12', 6.0, 4.0, 2.0, 10.0, 10.0,
        'regular', '6.4'],
       ['11111132', 'Alumno 22', 'TI12', 5.0, 6.0, 9.0, 0.0, 3.0,
        'regular', '4.6'],
       ['11111133', 'Alumno 23', 'TI12', 1.0, 9.0, 7.0, 7.0, 6.0,
        'regular', '6.0'],
       ['11111134', 'Alumno 24', 'TI41', 4.0, 0.0, 10.0, 7.0, 0.0,
        'regular', '4.2'],
       ['11111135', 'Alumno 25', 'TI41', 3.0, 3.0, 0.0, 8.0, 5.0,
        'regular', '3.8'],
       ['11111136', 'Alumno 26', 'TI41', 0.0, 5.0, 7.0, 2.0, 0.0,
        'regular', '2.8'],
       ['11111137', 'Alumno 27', 'TI41', 0.0, 0.0, 6.0, 0.0, 5.0,
        'regular', '2.2'],
       ['11111138', 'Alumno 28', 'TI41', 9.0, 3.0, 10.0, 9.0, 6.0,
        'regular', '7.4'],
       ['11111139', 'Alumno 29', 'TI41', 0.0, 5.0, 1.0, 10.0, 1.0,
        'regular', '3.4'],
       ['11111140', 'Alumno 30', 'TI41', 3.0, 3.0, 5.0, 9.0, 9.0,
        'regular', '5.8'],
       ['11111141', 'Alumno 31', 'TI41', 10.0, 10.0, 4.0, 1.0, 4.0,
        'regular', '5.8'],
       ['11111142', 'Alumno 32', 'TI41', 6.0, 0.0, 5.0, 3.0, 2.0,
        'regular', '3.2'],
       ['11111143', 'Alumno 33', 'IDGS91', 0.0, 4.0, 1.0, 7.0, 9.0,
        'regular', '4.2'],
       ['11111144', 'Alumno 34', 'IDGS91', 1.0, 1.0, 2.0, 3.0, 8.0,
        'regular', '3.0'],
       ['11111145', 'Alumno 35', 'IDGS91', 0.0, 7.0, 10.0, 7.0, 7.0,
        'regular', '6.2'],
       ['11111146', 'Alumno 36', 'IDGS91', 7.0, 1.0, 4.0, 0.0, 6.0,
        'regular', '3.6'],
       ['11111147', 'Alumno 37', 'IDGS91', 6.0, 6.0, 4.0, 3.0, 0.0,
        'regular', '3.8'],
       ['11111148', 'Alumno 38', 'IDGS91', 0.0, 6.0, 6.0, 3.0, 5.0,
        'regular', '4.0'],
       ['11111149', 'Alumno 39', 'IDGS91', 8.0, 7.0, 9.0, 5.0, 2.0,
        'regular', '6.2'],
       ['11111150', 'Alumno 40', 'IDGS91', 1.0, 0.0, 3.0, 4.0, 10.0,
        'regular', '3.6'],
       ['11111151', 'Alumno 41', 'IDGS91', 6.0, 5.0, 1.0, 5.0, 9.0,
        'regular', '5.2'],
       ['11111152', 'Alumno 42', 'IDGS91', 2.0, 0.0, 9.0, 9.0, 5.0,
        'regular', '5.0'],
       ['11111153', 'Alumno 43', 'IDGS91', 3.0, 4.0, 0.0, 0.0, 0.0,
        'regular', '1.4'],
       ['11111154', 'Alumno 44', 'IDGS91', 3.0, 1.0, 1.0, 7.0, 10.0,
        'regular', '4.4'],
       ['11111155', 'Alumno 45', 'IDGS91', 4.0, 1.0, 2.0, 8.0, 6.0,
        'regular', '4.2'],
       ['11111156', 'Alumno 46', 'IDGS71', 10.0, 1.0, 10.0, 0.0, 7.0,
        'regular', '5.6'],
       ['11111157', 'Alumno 47', 'IDGS71', 9.0, 10.0, 1.0, 3.0, 9.0,
        'regular', '6.4'],
       ['11111158', 'Alumno 48', 'IDGS71', 4.0, 4.0, 10.0, 6.0, 8.0,
        'regular', '6.4']], dtype=object)

In [44]:
todos.shape

(49, 10)

In [45]:
todos = pd.DataFrame(todos)
todos

,0,1,2,3,4,5,6,7,8,9
0,matricula,nombre,grupo,Materia 1,Materia 2,Materia 3,Materia 4,Materia 5,estado,promedio
1,11111111,Alumno 1,TI11,1.0,8.0,1.0,7.0,2.0,regular,3.8
2,11111112,Alumno 2,TI11,10.0,7.0,1.0,8.0,5.0,regular,6.2
3,11111113,Alumno 3,TI11,NaN,1.0,1.0,3.0,0.0,regular,nan
4,11111114,Alumno 4,TI11,NaN,4.0,3.0,2.0,7.0,regular,nan
5,11111115,Alumno 5,TI11,9.0,10.0,3.0,9.0,2.0,regular,6.6
6,11111116,Alumno 6,TI11,1.0,3.0,8.0,1.0,7.0,regular,4.0
7,11111117,Alumno 7,TI11,4.0,7.0,1.0,6.0,5.0,regular,4.6
8,11111118,Alumno 8,TI11,10.0,1.0,7.0,10.0,0.0,regular,5.6
9,11111119,Alumno 9,TI11,5.0,5.0,4.0,0.0,3.0,regular,3.4
10,11111120,Alumno 10,TI11,5.0,7.0,3.0,3.0,4.0,regular,4.4
11,11111121,Alumno 11,TI11,6.0,1.0,3.0,7.0,0.0,regular,3.4
12,11111122,Alumno 12,TI11,7.0,2.0,5.0,4.0,5.0,regular,4.6
13,11111123,Alumno 13,TI12,5.0,2.0,3.0,0.0,1.0,regular,2.2
14,11111124,Alumno 14,TI12,5.0,2.0,10.0,0.0,6.0,regular,4.6
15,11111125,Alumno 15,TI12,9.0,9.0,1.0,3.0,1.0,regular,4.6
16,11111126,Alumno 16,TI12,1.0,2.0,1.0,7.0,7.0,regular,3.6
17,11111127,Alumno 17,TI12,0.0,2.0,1.0,0.0,2.0,regular,1.0
18,11111128,Alumno 18,TI12,0.0,1.0,4.0,7.0,6.0,regular,3.6
19,11111129,Alumno 19,TI12,0.0,8.0,7.0,8.0,2.0,regular,5.0
20,11111130,Alumno 20,TI12,4.0,0.0,5.0,0.0,4.0,regular,2.6
21,11111131,Alumno 21,TI12,6.0,4.0,2.0,10.0,10.0,regular,6.4
22,11111132,Alumno 22,TI12,5.0,6.0,9.0,0.0,3.0,regular,4.6
23,11111133,Alumno 23,TI12,1.0,9.0,7.0,7.0,6.0,regular,6.0
24,11111134,Alumno 24,TI41,4.0,0.0,10.0,7.0,0.0,regular,4.2
25,11111135,Alumno 25,TI41,3.0,3.0,0.0,8.0,5.0,regular,3.8
26,11111136,Alumno 26,TI41,0.0,5.0,7.0,2.0,0.0,regular,2.8
27,11111137,Alumno 27,TI41,0.0,0.0,6.0,0.0,5.0,regular,2.2
28,11111138,Alumno 28,TI41,9.0,3.0,10.0,9.0,6.0,regular,7.4
29,11111139,Alumno 29,TI41,0.0,5.0,1.0,10.0,1.0,regular,3.4
30,11111140,Alumno 30,TI41,3.0,3.0,5.0,9.0,9.0,regular,5.8
31,11111141,Alumno 31,TI41,10.0,10.0,4.0,1.0,4.0,regular,5.8
32,11111142,Alumno 32,TI41,6.0,0.0,5.0,3.0,2.0,regular,3.2
33,11111143,Alumno 33,IDGS91,0.0,4.0,1.0,7.0,9.0,regular,4.2
34,11111144,Alumno 34,IDGS91,1.0,1.0,2.0,3.0,8.0,regular,3.0
35,11111145,Alumno 35,IDGS91,0.0,7.0,10.0,7.0,7.0,regular,6.2
36,11111146,Alumno 36,IDGS91,7.0,1.0,4.0,0.0,6.0,regular,3.6
37,11111147,Alumno 37,IDGS91,6.0,6.0,4.0,3.0,0.0,regular,3.8
38,11111148,Alumno 38,IDGS91,0.0,6.0,6.0,3.0,5.0,regular,4.0
39,11111149,Alumno 39,IDGS91,8.0,7.0,9.0,5.0,2.0,regular,6.2
40,11111150,Alumno 40,IDGS91,1.0,0.0,3.0,4.0,10.0,regular,3.6
41,11111151,Alumno 41,IDGS91,6.0,5.0,1.0,5.0,9.0,regular,5.2
42,11111152,Alumno 42,IDGS91,2.0,0.0,9.0,9.0,5.0,regular,5.0
43,11111153,Alumno 43,IDGS91,3.0,4.0,0.0,0.0,0.0,regular,1.4
44,11111154,Alumno 44,IDGS91,3.0,1.0,1.0,7.0,10.0,regular,4.4
45,11111155,Alumno 45,IDGS91,4.0,1.0,2.0,8.0,6.0,regular,4.2
46,11111156,Alumno 46,IDGS71,10.0,1.0,10.0,0.0,7.0,regular,5.6
47,11111157,Alumno 47,IDGS71,9.0,10.0,1.0,3.0,9.0,regular,6.4
48,11111158,Alumno 48,IDGS71,4.0,4.0,10.0,6.0,8.0,regular,6.4

In [48]:
todos.to_csv('calificaciones_promedio_v2.csv', sep=',')