<a href="https://colab.research.google.com/github/Ignacio246/colab/blob/main/Actividad_2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv          #leer de forma facil el archivo csv
import numpy as np
import pandas as pd

In [ ]:
#abrir el archivo csv

with open('calificaciones_v2.csv','r') as file:
    data = list(csv.reader(file,delimiter=","))

In [ ]:
type(data)

list

In [ ]:
data =np.array(data)

In [ ]:
type(data)

numpy.ndarray

In [ ]:
data[:10,:]

array([['matricula', '11111111'],
       ['nombre', 'Alumno 1'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '8'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '2'],
       ['Materia 5', '2'],
       ['estado', 'regular']], dtype='<U9')

In [ ]:
cabeceras = data.T[0] 
cabeceras[:15]

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'Materia 5', 'estado',
       'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2'],
      dtype='<U9')

In [ ]:
np.unique(cabeceras)

array(['Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'Materia 6', 'estado', 'grupo', 'matricula', 'nombre'], dtype='<U9')

In [ ]:
np.unique(cabeceras).size

10

In [ ]:
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'Materia 5', 'estado',
       'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'Materia 4', 'Materia 5', 'estado',
       'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'estado', 'matricula', 'nombre', 'grupo', 'Materia 1',
       'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5', 'estado',
       'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'Materia 6', 'estado'], dtype='<U9')

#### Elimino las cabeceras repetidas

In [ ]:
headers = []
for row in cabeceras:
  if row not in headers:
    headers.append(row)

print(headers)

['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'Materia 6']

In [ ]:
headers

['matricula',
 'nombre',
 'grupo',
 'Materia 1',
 'Materia 2',
 'Materia 3',
 'Materia 4',
 'Materia 5',
 'estado',
 'Materia 6']

In [ ]:
headers1 =np.array(headers)
headers1

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'Materia 6'],
      dtype='<U9')

In [ ]:
headers2 = np.delete(headers1, 9)

In [ ]:
headers2

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype='<U9')

In [ ]:
np.unique(headers2).size

9

#### Calculamos el numero de registros

In [ ]:
no_cabeceras = headers2.size
no_cabeceras

9

In [ ]:
no_registros = data.T[0].size
no_registros

434

In [ ]:
#Permite calcular el numero de registros del archivo 
filas = no_registros / no_cabeceras
filas

48.22222222222222

#### Eliminar cabeceras del array

In [ ]:
data_sin_cabeceras = np.delete(data,0,1)
data_sin_cabeceras

In [ ]:
data_sin_cabeceras

In [ ]:
data

In [38]:
datos = pd.read_csv('calificaciones_v2.csv', header=None)
datos

             0         1
0    matricula  11111111
1       nombre  Alumno 1
2        grupo      TI11
3    Materia 1         1
4    Materia 2         8
..         ...       ...
429  Materia 3        10
430  Materia 4         6
431  Materia 5         8
432  Materia 6        10
433     estado   regular

[434 rows x 2 columns]

In [54]:
dupl= df.drop_duplicates(keep = 'first')
dupl.head(30)

            0         1
0   matricula  11111111
1      nombre  Alumno 1
2       grupo      TI11
3   Materia 1         1
4   Materia 2         8
5   Materia 3         1
6   Materia 4         7
7   Materia 5         2
9      estado   regular
10  matricula  11111112
11     nombre  Alumno 2
13  Materia 1        10
14  Materia 2         7
16  Materia 4         8
17  Materia 5         5
19  matricula  11111113
20     nombre  Alumno 3
22  Materia 1
23  Materia 2         1
25  Materia 4         3
26  Materia 5         0
28  matricula  11111114
29     nombre  Alumno 4
32  Materia 2         4
33  Materia 3         3
34  Materia 4         2
35  Materia 5         7
37  matricula  11111115
38     nombre  Alumno 5
40  Materia 1         9