<a href="https://colab.research.google.com/github/Ignacio246/colab/blob/main/Actividad_1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd 
import numpy as np

In [52]:
## Abrir el archivo en modo lectura
f =  open("datos.txt","r")
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())

01/01/2022,10,10,10

02/01/2022,20,20

03/01/2022,30,30,30,30

01/01/2022,40,40,40

In [54]:
## Numero de Filas
rowcount  = 0
for row in open("datos.txt"): 
  rowcount+= 1
 
print("Numero de filas:", rowcount)

Numero de filas: 4

In [88]:
## Contar el numero de valores por fila.

f = [10,10,10],[20,20],[30,30,30,30],[40,40,40]

df = pd.DataFrame(f)

df.count(axis=1)

0    3
1    2
2    4
3    3
dtype: int64

In [62]:
##Imprimir el valor m√°ximo por fila.
f = [10,10,10],[20,20],[30,30,30,30],[40,40,40]

df = pd.DataFrame(data=f)
df

df.max(axis=1)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

In [63]:
##Imprimir el valor minimo por fila.
f = [10,10,10],[20,20],[30,30,30,30],[40,40,40]

df = pd.DataFrame(data=f)
df

df.min(axis=1)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

In [66]:
## Imprimir el total por fila.

f = [10,10,10],[20,20],[30,30,30,30],[40,40,40]

filas = len(f)

for i in range(filas):
  suma=sum(f[i])
  f[i].append(suma)

print(f)

([10, 10, 10, 30], [20, 20, 40], [30, 30, 30, 30, 120], [40, 40, 40, 120])

In [67]:
##Imprimir el promedio por fila

f = [10,10,10],[20,20],[30,30,30,30],[40,40,40]

df.mean(axis=1)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64