<a href="https://colab.research.google.com/github/Ignacio246/colab/blob/main/Pandas_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###*Pandas DataFrame*

**1.Librerias**

In [2]:
import pandas as pd
import numpy as np

In [6]:
np.__version__

'1.21.6'

In [5]:
pd.__version__

'1.3.5'

**2.Creacion de Datos de PRuebas**

In [17]:
rows = ['ventas1','ventas2','ventas3']
cols = ['zona1','zona2','zona3']
np.random.seed(1234)
datos = np.random.randint(100,200,9)

In [8]:
rows

['ventas1', 'ventas2', 'ventas3']

In [9]:
cols

['zona1', 'zona2', 'zona3']

In [18]:
datos

array([147, 183, 138, 153, 176, 124, 115, 149, 123])

**Cambiamos la forma**

In [21]:
datos = datos.reshape(3,3)
datos

array([[147, 183, 138],
       [153, 176, 124],
       [115, 149, 123]])

**3. Crear el DataFrame**

In [22]:
dataframe = pd.DataFrame(data=datos,index=rows,columns=cols,dtype=float)
dataframe

         zona1  zona2  zona3
ventas1  147.0  183.0  138.0
ventas2  153.0  176.0  124.0
ventas3  115.0  149.0  123.0

In [24]:
dataframe2 = pd.DataFrame(datos,columns=cols)
dataframe2

   zona1  zona2  zona3
0    147    183    138
1    153    176    124
2    115    149    123

**4. Operaciones aritmeticas (+,-,/,//,%,**)**

In [28]:
### Le suma un valor al Dataframe
dataframe = dataframe + 1
dataframe

         zona1  zona2  zona3
ventas1  149.0  185.0  140.0
ventas2  155.0  178.0  126.0
ventas3  117.0  151.0  125.0

In [30]:
dataframe.add(2)

         zona1  zona2  zona3
ventas1  151.0  187.0  142.0
ventas2  157.0  180.0  128.0
ventas3  119.0  153.0  127.0

In [ ]:
help(dataframe.add)

In [34]:
### Suma por columnas
dataframe + [2,6,1]

         zona1  zona2  zona3
ventas1  151.0  191.0  141.0
ventas2  157.0  184.0  127.0
ventas3  119.0  157.0  126.0

In [35]:
### Porcentaje de Columnas
dataframe *[.2,.3,.5]

         zona1  zona2  zona3
ventas1   29.8   55.5   70.0
ventas2   31.0   53.4   63.0
ventas3   23.4   45.3   62.5

**5. Acceder a los valores**

In [37]:
### Mostrar los valores por indice o filas
dataframe.loc ['ventas1']

zona1    149.0
zona2    185.0
zona3    140.0
Name: ventas1, dtype: float64

In [39]:
### Muestra los datos por diferentes filas
dataframe.loc [['ventas1','ventas3']]

         zona1  zona2  zona3
ventas1  149.0  185.0  140.0
ventas3  117.0  151.0  125.0

In [44]:
##Muestra los datos por columnas
dataframe[['zona1','zona3']]

         zona1  zona3
ventas1  149.0  140.0
ventas2  155.0  126.0
ventas3  117.0  125.0

In [45]:
dataframe['zona1'] < 150

ventas1     True
ventas2    False
ventas3     True
Name: zona1, dtype: bool

In [46]:
dataframe.loc[(dataframe['zona1']< 150)]

         zona1  zona2  zona3
ventas1  149.0  185.0  140.0
ventas3  117.0  151.0  125.0