<a href="https://colab.research.google.com/github/Ignacio246/colab/blob/main/18/10/2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd
import numpy as np

### Tema 1: Creacion de Series

In [2]:
## Creacion de series
etiquetas =["A","B","C"]
datos = [1,2,3]
s = pd.Series(data=datos,index=etiquetas)
s

A    1
B    2
C    3
dtype: int64

In [6]:
datos = {"a":1,"b":"Hola","c":True}

In [7]:
s = pd.Series(datos)
s

a       1
b    Hola
c    True
dtype: object

In [8]:
s.dtype

dtype('O')

In [10]:
## Acceder medienate la etiqueta
s["c"]

True

In [11]:
## Acceder desde la posicion o el Index
s[2]

True

In [13]:
## Mostrar solo los primeros 2
s[0:2]

a       1
b    Hola
dtype: object

In [15]:
## Imprime el valor en la posicion 
s.head(1)

a    1
dtype: object

In [17]:
## Imprime la cola de la serie empezando de abajo hacia arriba
s.tail(1)

c    True
dtype: object

In [20]:
## Creamos una nueva serie
etiquetas = ["a","b","c"]
datos = [1,"Hola",True]
s=pd.Series(datos,etiquetas)
s

a       1
b    Hola
c    True
dtype: object

In [24]:
## Vemo que tipo de dato es
type(s["a"])

int

In [29]:
## Creamos una nueva serie
etiquetas = ["a","b","c"]
datos = [1,"Hola",True]
s = pd.Series(data=datos,index=etiquetas,name="Serie1")
s

a       1
b    Hola
c    True
Name: Serie1, dtype: object

In [30]:
## Vemos como se llama nuestra serie
s.name

'Serie1'

In [31]:
## Renombramos la serie
s.rename("Serie 2")

a       1
b    Hola
c    True
Name: Serie 2, dtype: object

In [36]:
## Describe toda la informacion de la serie
s.describe()

count     3
unique    2
top       1
freq      2
Name: Serie1, dtype: int64

In [37]:
etiquetas = ["a","b","c"]
datos = [10,20,30]
s = pd.Series(data=datos,index=etiquetas,name="Serie1")
s

a    10
b    20
c    30
Name: Serie1, dtype: int64

In [38]:
## Describe toda la informacion de la serie(en forma de estadistica)
s.describe()

count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
Name: Serie1, dtype: float64

In [39]:
etiquetas = ["a","b","c","d"]
datos = [10,20,30,True]
s = pd.Series(data=datos,index=etiquetas,name="Serie Descripcion")
s

a      10
b      20
c      30
d    True
Name: Serie Descripcion, dtype: object

In [41]:
s.describe()

count      4
unique     4
top       10
freq       1
Name: Serie Descripcion, dtype: int64

In [42]:
etiquetas = ["uno","dos","cuatro"]
datos = {"uno":1,"dos":2,"tres":3}
s=pd.Series(data=datos,index=etiquetas,name="Serie")
s

uno       1.0
dos       2.0
cuatro    NaN
Name: Serie, dtype: float64

In [43]:
etiquetas = ["uno","dos","uno"]
datos = {"uno":1,"dos":2,"tres":3}
s=pd.Series(data=datos,index=etiquetas,name="Serie")
s

uno    1
dos    2
uno    1
Name: Serie, dtype: int64

In [45]:
s.describe()

count    3.000000
mean     1.333333
std      0.577350
min      1.000000
25%      1.000000
50%      1.000000
75%      1.500000
max      2.000000
Name: Serie, dtype: float64

### Tema 2:

In [47]:
### Creamos una serie
s1 = pd.Series([1,2,3],['a','b','c'])
s2 = pd.Series([4,5,6],['a','b','c'])

In [54]:
### Sumamos la serie con los elementos que contiene
### Operadores de Python(**,+,-,*,/,//,%)
s1*5

a     5
b    10
c    15
dtype: int64

In [60]:
## mostramos la mediana
s1.median()

2.0

In [59]:
### Valores menores que la mediana
s1[s1<s1.median()]

a    1
dtype: int64

In [61]:
### Valores Menores a 3
s1[s1<3]

a    1
b    2
dtype: int64

In [62]:
## Busca el index en la serie, si existe(True), no existe(False)
"a" in s1

True

In [63]:
"x" in s1

False

In [64]:
"3" in s1

False

In [ ]:
help(pd.Series)

In [68]:
type(s1)

pandas.core.series.Series